@font-face {
    font-family: 'Metropolis Regular';
    src: url(fontes/Metropolis-Regular.otf) format(opentype);
}
@font-face {
    font-family: 'Metropolis Bold';
    src: url(fontes/Metropolis-Bold.otf) format(opentype);
}
@font-face {
    font-family: 'Metropolis ExtraBold';
    src: url(fontes/Metropolis-ExtraBold.otf) format(opentype);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.models, .cart-item, .cart-area, .fa-solid.fa-bars, .fa-solid.fa-xmark{
    display: none;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Metropolis Bold';
    overflow-x: hidden;
}

#header-offer{
    background-color: #ffbe31;
    text-align: center;
    font-size: 1.2rem;
    height: 50px;
    overflow-x: hidden;
}

#header-offer > p{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: 15s ease-in 1s infinite reverse both running slidein;
}

@keyframes slidein{
    0%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(100%);
    }
}

header{
    background-color: #dd3737;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
}

nav > img{
    width: 250px;
}

nav > ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
    padding-top: 40px;
}

.links-navbar{
    text-decoration: none;
    color: white;
    transition: .3s;
}

.links-navbar:hover{
    color: black;
}

.orderOnlineBtn{
    text-decoration: none;
    color: black;
    background-color: #ffbe31;
    padding: 20px;
    transition: .3s;
   
}

.orderOnlineBtn:hover{
    background-color: #1b1b2e;
    color: white;
}

#div-header{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#divHeaderImg{
    width: 100vw;
    overflow-x: hidden;
}

#img-header{
    width: 70%;
    margin-left: 500px;
}

#divHeaderText{
    position: absolute;
    width: 700px;
    margin: -150px 0 0 -440px;
}

#divHeaderText h1{
    font-family: 'Metropolis ExtraBold';
    font-size: 5.5rem;
    margin-bottom: 30px;
}

#divHeaderText p{
    font-family: 'Metropolis Regular';
    width: 500px;
    margin-bottom: 50px;
}

#divHeaderText a{
    padding: 30px;
}

#first-content{
    display: flex;
    flex-direction: column;
}

#first-content > h2, #third-content > h2{
    font-family: 'Metropolis ExtraBold';
    font-size: 3.5rem;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
}

#first-content > p, #third-content > p{
    font-family: 'Metropolis Regular';
    color: gray;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 50px;
}

#section-products-content > a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 40% 80px;
    height: 70px;
}

#products-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.products{
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.products > img{
    width: 350px;
}

#second-content, #fourth-content{
    display: flex;
}

#secondContent-divImg{
    width: 150%;
}

#secondContent-divImg > img{
    width: 100%;
}

#secondContent-divText{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    line-height: 30px;
    padding-left: 70px;
}

#secondContent-divText > h2{
    font-family: 'Metropolis ExtraBold';
    font-size: 3.5rem;
    line-height: 60px;
    margin-bottom: 30px;
}

#secondContent-divText > p{
    font-family: 'Metropolis Regular';
    text-align: justify;
    padding-right: 50px;
    margin-bottom: 30px;
}

i{
    background-color: #ffbe31;
    color: black;
    padding: 5px;
    width: 30px;
    text-align: center;
    margin-right: 10px;
}

ul{
    list-style: none;
    margin-bottom: 50px;
}

li > a{
    font-family: 'Metropolis Regular';
    text-decoration: none;
    color: white;
}

#secondContent-divText > a{
    text-decoration: none;
    text-align: center;
    font-size: 1.3rem;
    color: black;
    background-color: white;
    padding: 20px;
    transition: .3s;
    width: 200px;
}

#secondContent-divText > a:hover{
    background-color: #ffbe31;
}

/* ESTILIZAÇÃO DO THIRD-CONTENT */
.pizza-area {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
}

.pizza-item {
    text-align: center;
    max-width:250px;
    font-family: 'Metropolis Bold';
    margin:0 auto 50px auto;
}

.pizza-item a {
    display:flex;
    flex-direction: column;
    align-items:center;
    text-decoration: none;
}

.pizza-item--img {
    width:200px;
    height:200px;
    background-color:#dd3737;
    border-radius:100px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.404);
}

.pizza-item--img img {
    width:100%;
    height:auto;
}

.pizza-item--add {
    width:50px;
    height:50px;
    line-height:50px;
    border-radius:25px;
    background-color:#ffbe31;
    text-align:center;
    color:#1b1b2e;
    font-size:22px;
    cursor:pointer;
    margin-top:-25px;
    transition:all ease .2s;
}

.pizza-item a:hover .pizza-item--add {
    background-color:#b71c1c;
    color: white;
    transform: scale(1.2);
}

.pizza-item--name{
    font-size: 1.3rem;
    margin-top: 20px;
}

.pizza-item--desc{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: gray;
    margin-top: 10px;
    margin-bottom: 15px;
}

.pizza-item--price{
    font-family: 'Metropolis ExtraBold';
    font-size: 2rem;
    color: #b71c1c;
}

.pizzaWindowArea {
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    right:0;
    background-color:rgba(255, 255, 255, 0.5);
    display: none;
    transition: all ease .5s;
    justify-content: center;
    align-items: center;
    overflow-y:auto;
}

.pizzaWindowBody {
    width:900px;
    background-color:#FFF;
    border-radius:10px;
    box-shadow:0px 0px 15px #999;
    display:flex;
    margin: 20vh auto;
}

.pizzaBig {
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
}

.pizzaBig--back {
    position:absolute;
    width:30px;
    height:30px;
    background-color:#000;
}

.pizzaBig img {
    height:400px;
    width:auto;
}

.pizzaInfo {
    flex:1;
    font-family:'Hepta Slab', Helvetica, Arial;
    padding-bottom:50px;
}

.pizzaInfo h1 {
    margin-top:50px;
}

.pizzaInfo .pizzaInfo--desc {
    font-size:15px;
    color:#999;
    margin-top:10px;
    font-family:'Lato',Helvetica,Arial;
}

.pizzaInfo--sector {
    color:#CCC;
    text-transform: uppercase;
    font-size:14px;
    margin-top:30px;
    margin-bottom:10px;
}

.pizzaInfo--sizes {
    display:inline-flex;
    border-radius:10px;
    overflow:hidden;
}

.pizzaInfo--size {
    padding:10px 15px;
    color:#000;
    background-color:#EEE;
    font-size:13px;
    font-weight: bold;
    cursor:pointer;
}

.pizzaInfo--size:hover {
    background-color:#CCC;
}

.pizzaInfo--size.selected {
    background-color:#d32f2f;
    color:#FFF;
}

.pizzaInfo--size.selected span {
    color:#D6D6D6;
}

.pizzaInfo--size span {
    font-size:12px;
    color:#999;
    font-weight: normal;
}

.pizzaInfo--price {
    display:flex;
    align-items:center;
}

.pizzaInfo--actualPrice {
    font-size:28px;
    margin-right:30px;
}

.pizzaInfo--qtarea {
    display:inline-flex;
    background-color:#EEE;
    border-radius:10px;
    height:30px;
}

.pizzaInfo--qtarea button {
    border:0;
    background-color:transparent;
    font-size:17px;
    outline:0;
    cursor:pointer;
    padding:0px 10px;
    color:#333;
}

.pizzaInfo--qt {
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px;
    color:#000;
}

.pizzaInfo--addButton {
    margin-top:30px;
    padding:20px 30px;
    border-radius:20px;
    background-color:#48d05f;
    color:#FFF;
    display:inline-block;
    cursor:pointer;
    margin-right:30px;
}

.pizzaInfo--addButton:hover {
    background-color:#32a345;
}

.pizzaInfo--cancelButton {
    display:inline-block;
    cursor:pointer;
}

.pizzaInfo--cancelMobileButton {
    display:none;
    height:40px;
    text-align:center;
    line-height: 40px;
    margin-bottom:30px;
}

/* FIM DO THIRD-CONTENT */

#fourth-content{
    height: 700px;
}

#fourthContent-divText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    background-color: #d32f2f;
    color: white;
    padding: 30px;
    width: 600px;
}

#fourthContent-divImg{
    width: 800px;
    overflow-x: hidden;
    overflow-y: hidden;
}

#fourthContent-divImg img{
    height: 101%;
    width: 115%;
}

#fourthContent-divText h2{
    font-family: 'Metropolis ExtraBold';
    font-size: 4rem;
    margin-bottom: 30px;
}

#fourthContent-divText p{
    font-family: 'Metropolis Regular';
    margin-bottom: 30px;
}

#fourthContent-divText a{
    width: 250px;
    padding: 30px;
    text-align: center;
}

footer{
    background-color: black;
    padding: 50px;
    height: 500px;
    color: white;
}

.footer-content{
    display: flex;
    justify-content: space-between;
}

.footer-content .first{
    width: 400px;
}

.footer-content .first > img{
    width: 300px;
}

.footer-content .first > p{
    font-family: 'Metropolis Regular';
    color: #d1d1d1;
    margin-bottom: 30px;
}

.socialMedias{
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.socialMediasFooter{
    width: 50px;
}

.footer-content .second{
    line-height: 40px;
    text-align: left;
    width: 200px;
    margin-top: 40px;
}

.footer-content .second h3{
    font-size: 1.4rem;
}

.second li > a:hover{
    text-decoration: underline;
}

footer > p{
    text-align: center;
    margin-top: 100px;
}

footer p > a{
    text-decoration: none;
    color: white;
}

footer p > a:hover{
    text-decoration: underline;
}

@media (max-width: 1150px) {
    #divHeaderText{
        position: relative;
        margin: 0;
        left: 20px;
        width: 460px;
    }

    #divHeaderText h1{
        font-size: 4rem;
    }

    #divHeaderImg{
        width: 650px;
    }

    #divHeaderImg img{
        margin: 0;
        width: 100%;
    }

    .products > img{
        width: 300px;  
    }

    #second-content{
        height: 600px;
    }

    #secondContent-divImg > img{
        height: 100%;
    }

    #fourth-content{
        height: 600px;
    }

    #fourthContent-divText h2{
        font-size: 3.5rem;
    }
}

@media (max-width: 930px) {
    nav{
        display: flex;
        flex-direction: column;
    }

    nav > img{
        width: 400px;
    }

    nav > ul{
        width: 100vw;
        justify-content: space-between;
        padding: 0px 40px;
    }

    #div-header{
        height: 530px;
    }

    #divHeaderText{
        width: 350px;
    }

    #divHeaderText h1{
        font-size: 3rem;
    }

    #divHeaderText p{
        width: 400px;
    }

    .products > img{
        width: 250px;  
    }

    #section-products-content > a{
        text-align: center;
    }

    #fourth-content{
        height: 500px;
    }

    #fourthContent-divText{
        padding: 20px;
    }

    #fourthContent-divText h2{
        font-size: 3rem;
    }

    #fourthContent-divImg{
        width: 850px;
    }

    #fourthContent-divImg img{
        height: 100%;
        width: 100%;
    }

    .pizza-area {
        display:grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 750px) {
    #header-offer{
        width: 100vw;
    }
    
    #header-offer p{
        width: 330px;
        font-size: 16px;
        overflow-x: hidden;
    }
    
    nav{
       
    }

    #div-header{
        display: flex;
        flex-direction: column;
    }

    #divHeaderText{
        width: 100vw;
    }

    #divHeaderText p{
        width: 320px;
        text-align: center;
    }

    #divHeaderImg{
        width: 100vw;
    }

    #products-content{
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    
    .products img{
        width: 200px;
    }

    .pizza-area {
        display:grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-content .first{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .footer-content{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .first > p{
        width: 300px;
    }

    .socialMedias{
        width: 300px;
        display: flex;
        justify-content: space-around;
    }

    .second > ul{
        display: flex;
        justify-content: space-between;
        width: 280px;
        margin-bottom: 0px;
    }

    footer > p{
        font-family: 'Metropolis Regular';
        font-size: 12px;
        margin-top: 30px;
    }
}

@media (max-width: 450px) {
    #header-offer > p{
        margin: 0 auto;
    }

    nav > img{
        width: 200px;
        position: absolute;
        left: 10px;
    }

    nav > ul{
        display: flex;
        flex-direction: column;
        position: fixed;
        background-color: #000;
        height: 100vh;
        justify-content: start;
        padding-top: 100px;
        transition: .3s;
        right: -380px;
    }

    .activeClass{
        right: 0;
        z-index: 3;
    }

    .fa-solid.fa-bars, .fa-solid.fa-xmark{
        display: flex;
        background: transparent;
        color: white;
        position: absolute;
        right: 0;
        margin-top: 28px;
        z-index: 4;
        transition: .3s;
    }

    .fa-solid.fa-xmark{
        display: none;
    }

    .fa-solid.fa-xmark.active{
        display: flex;
    }

    .fa-bars.active{
        transform: rotate(-45deg) translate(-8px, 8px);
        opacity: 0;
    }
    
    #div-header{
        height: 600px;
        z-index: 2;
    }
    
    #divHeaderText{
        width: 340px;
        margin-right: 25px;
    }
    
    #divHeaderText h1{
        font-size: 2rem;
        margin-top: -215px;
        margin-left: -15px;
        width: 100%;
    }

    #divHeaderText p{
        display: none;
    }

    #divHeaderText > a{
        align-items: center;
        display: flex;
        width: 210px;
        height: 70px;
        position: absolute;
        top: 200px;
        left: 60px;
    }

    #divHeaderImg > img{
        position: absolute;
        top: 190px;
        right: 0;
        width: 360px;
    }

    #first-content > h2{
        font-size: 2.5rem;
    }

    #first-content > p{
        font-size: 14px;
    }

    #section-products-content > a{
        width: 200px;
        margin: 50px auto;
    }

    #secondContent-divImg, #fourthContent-divImg{
        display: none;
    }

    #secondContent-divText{
        padding: 20px;
    }

    #secondContent-divText h2{
        text-align: center;
        font-size: 2.5rem;
        padding-top: 40px;
    }

    #secondContent-divText p{
        font-size: 14px;
        padding: 0;
    }

    #secondContent-divText ul{
        margin-bottom: 20px;
    }

    #secondContent-divText ul li{
        font-size: 14px;
    }

    .links-secondContent{
        display: flex;
    }

    .links-secondContent > i{
        position: relative;
        margin: 0;
    }

    #secondContent-divText > a{
        margin: 0 auto;
    }
    
    .pizza-area {
        display:grid;
        grid-template-columns: repeat(1, 1fr);
    }

    #fourth-content{
        margin-bottom: -50px;
    }

    #fourthContent-divText{
        height: 450px;
    }

    #fourthContent-divText h2{
        font-size: 2.4rem;
        text-align: center;
    }

    #fourthContent-divText a{
        margin: 0 auto;
        width: 200px;
        padding: 25px;
    }
}